@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lato:wght@100&family=Mulish:wght@200&display=swap');

.catamaran {
    font-family: "Catamaran", "Helvetica", "Arial", sans-serif;
}

.lato {
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.muli {
    font-family: "Muli", "Helvetica", "Arial", sans-serif;
}

/*Header*/

.header-background {
    background-image: url('./img/bg-pattern.png'), linear-gradient(85deg, #d72631, #7c4394);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255);
}

.header-p {
    font-size: 3rem;
}

#phone {
    top: -4.4rem;
    left: -0.3rem;
}

/*First section*/

.first-sec-background {
    background-color: rgb(255, 204, 81);
}

.first-sec-h1 {
    font-size: 3.5rem;
}

.first-sec-p {
    font-size: 0.95rem;
}

/*Second section*/

.icons {
    font-size: 5rem;
    color: rgb(169, 51, 109);
}

.hr {
    color: linear-gradient(85deg, #d72631, #7c4394);
}

#phone2 {
    top: -2.7rem;
    left: 10.8rem;
}

#demo-page2 {
    left: 11.88rem;
}
