#letter {
    background-color: rgb(119, 55, 179);
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50px;
    margin: auto;
}